@charset "UTF-8";
#hero-image--container {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../assets/images/bakery_hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-text-area {
  background-color: #F7F5E6;
  padding: 0px 20px 0;
  width: 100%;
  height: 100%;
}

.hero-title {
  font-family: "Yellowtail", cursive;
  font-size: 45px;
  margin: 0 0 20px -3px;
  color: #343B55;
  font-weight: 500;
}

.hero-text {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #343B55;
  width: 250px;
}

.call-to-action {
  background-color: #F78731;
  border-radius: 25px;
  width: 130px;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  color: #F7F5E6;
  cursor: pointer;
}

.call-to-action:hover {
  background-color: #ec6c09;
}

.hero-title,
.hero-text,
.call-to-action {
  transform: translate(0px, 40px);
}

@media screen and (min-width: 576px) {
  .hero-image-text-area {
    border-radius: 0 50% 50% 0;
    width: 600px;
    height: 600px;
    border-right: 4px #343B55 solid;
    transform: translate(-250px, -140px);
  }

  .hero-title,
.hero-text,
.call-to-action {
    transform: translate(250px, 180px);
  }
}
@media screen and (min-width: 768px) {
  .hero-image-text-area {
    transform: translate(0px, -155px);
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-text {
    width: 390px;
    font-size: 18px;
  }

  .call-to-action {
    font-size: 20px;
    width: 200px;
  }

  .hero-title,
.hero-text,
.call-to-action {
    transform: translate(100px, 180px);
  }
}
@media screen and (min-width: 992px) {
  .hero-image-text-area {
    width: 800px;
    height: 800px;
    transform: translate(-20px, -275px);
  }

  .hero-title,
.hero-text,
.call-to-action {
    transform: translate(150px, 300px);
  }
}
#logo {
  color: #F7F5E6;
  font-family: "Yellowtail", cursive;
  font-weight: 500;
  font-size: 28px;
  width: 5rem;
  margin-left: -55px;
}
@media only screen and (min-width: 768px) {
  #logo {
    font-size: 3rem;
    width: 30rem;
    margin-left: -11rem;
    margin-top: 18px;
  }
}
@media only screen and (min-width: 992px) {
  #logo {
    font-size: 4rem;
    margin-top: 1rem;
    margin-left: -8rem;
  }
}

#logo a {
  font-family: "Yellowtail", cursive;
}

#header-content {
  border: 2px #52658F solid;
  background-color: #52658F;
  height: 100px;
  padding-left: 5rem;
}
@media only screen and (min-width: 768px) {
  #header-content {
    text-align: center;
  }
}

#ul-header {
  display: none;
  list-style-type: none;
  text-transform: uppercase;
  color: #F7F5E6;
  font-weight: 600;
  background-color: #52658F;
  width: 171px;
  padding-left: 12px;
  height: 207px;
  position: relative;
  top: -134px;
  left: -66px;
  align-items: flex-start;
  background-color: initial;
  margin-top: 58px;
}
@media only screen and (min-width: 768px) {
  #ul-header {
    display: inline-flex;
  }
}
@media only screen and (min-width: 992px) {
  #ul-header {
    top: -162px;
    margin-top: 3.5rem;
  }
}
@media only screen and (min-width: 1260px) {
  #ul-header {
    top: -174px;
    margin-top: 3.5rem;
  }
}

#header-small {
  width: 100%;
  text-transform: uppercase;
  color: #F7F5E6;
  font-weight: 600;
  background-color: rgba(82, 101, 143, 0.8);
  position: absolute;
  display: none;
  z-index: 2;
}
@media screen and (min-width: 576px) {
  #header-small {
    z-index: 0;
  }
}
@media only screen and (min-width: 768px) {
  #header-small {
    display: none;
  }
}
@media screen and (-ms-high-contrast: none) {
  #header-small {
    text-align: right;
  }
}

#header-small ul {
  list-style-type: none;
  text-align: end;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .li-header {
    margin: 10px;
    padding-bottom: 3px;
  }
}
@media only screen and (min-width: 992px) {
  .li-header {
    margin: 1rem;
  }
}
@media only screen and (min-width: 1260px) {
  .li-header {
    margin: 2rem;
  }
}

.li-header:hover {
  border-bottom: 4px #F78731 solid;
}

.li-header-small {
  line-height: 45px;
}

.fa-phone {
  border-radius: 50%;
  padding: 0.5em 0.6em;
  color: #F7F5E6;
  background-color: #333a56;
  float: right;
  margin-top: -83px;
  margin-right: 95px;
}
@media only screen and (min-width: 768px) {
  .fa-phone {
    position: relative;
    top: -24rem;
    left: 19rem;
    color: #F78731;
    margin-right: 0;
    margin-top: 0;
    float: inherit;
  }
}
@media only screen and (min-width: 992px) {
  .fa-phone {
    top: -410px;
    left: 24rem;
  }
}
@media only screen and (min-width: 1260px) {
  .fa-phone {
    left: 32rem;
  }
}

.fa-phone:hover {
  background-color: #202436;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-menu-xs {
  background-color: #333a56;
  height: 55px;
  width: 65px;
  border-radius: 4px;
  float: right;
  margin-top: -77px;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .btn-menu-xs {
    display: none;
  }
}

.btn-menu-xs:hover {
  background-color: #202436;
  cursor: pointer;
}

.menu-lines {
  padding: 10px 0 4px 16px;
}
@media only screen and (min-width: 768px) {
  .menu-lines {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 33px;
    margin: 10px auto 5px;
  }
}

.menu-x {
  display: none;
  color: #F7F5E6;
  font-size: 33px;
  margin-top: 1px;
  margin-left: 24px;
}

.menu-line {
  width: 33px;
  height: 3px;
  background-color: #F7F5E6;
  margin-bottom: 5px;
}

.menu-title {
  font-size: 12px;
  text-align: center;
  margin-top: -7px;
  color: #F7F5E6;
}

footer {
  background-color: #52658F;
  color: #F7F5E6;
}

#footer-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  #footer-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 768px) and (-ms-high-contrast: none) {
  #footer-container {
    justify-content: space-around;
  }
}

footer h4 {
  text-transform: uppercase;
  margin-left: 20px;
}

footer li {
  list-style-type: none;
  margin-left: -20px;
  font-weight: 100;
  line-height: 20px !important;
}

#footer-3 li:hover,
.li-footer-hover:hover {
  text-decoration: underline;
  color: #F78731;
}

#copyright {
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #copyright {
    text-align: center;
  }
}

.arrow {
  border: solid #F7F5E6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#hero-image--container-order {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../assets/images/order-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#form-container {
  background-color: #52658F;
  padding-top: 50px;
}

#order-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-bottom: 75px;
}

.contact-form-input {
  border: none;
  border-radius: 3px;
  background-color: #F7F5E6;
  width: 220px;
  height: 40px;
  outline: none;
  color: #343B55;
  margin: 0px 10px 15px 8px;
  padding: 5px 20px;
  font-weight: 500;
}

.contact-form-input:focus::placeholder {
  color: transparent;
}

.order-label {
  display: block;
  color: #F78731;
  margin: 0px 0 5px 8px;
  text-align: left;
}

.required-mark {
  color: white;
  margin-left: 3px;
}

#order-submit {
  width: 220px;
  background-color: #F78731;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  color: #F7F5E6;
  cursor: pointer;
  margin: 10px 0 0 0;
}

#order-submit:hover {
  background-color: #ec6c09;
}

.Form-focused {
  border: #F78731 solid 3px;
}

.Form-valid {
  border: green solid 3px;
}

.Form-invalid {
  border: red solid 3px;
}

#order-message {
  resize: none;
  width: 220px;
  height: 250px;
  background-color: #F7F5E6;
  margin-left: 8px;
  outline: none;
}

#GDPR-check {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
}

#GDPR-label {
  width: 200px;
  float: right;
}

.error-bar {
  display: none;
  background-color: red;
  border-radius: 25px;
  padding: 0 20px;
  width: 80%;
  text-align: center;
  margin-top: 10px;
}

#error-text {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.error-show {
  display: block;
}

#creative-partners {
  align-items: center;
  text-align: center;
}
#creative-partners p {
  padding: 0 10px;
}
@media screen and (-ms-high-contrast: none) {
  #creative-partners {
    border: 5px white solid;
    background-color: white;
  }
}

#creative-partners-list {
  list-style-type: none;
  padding-inline-start: 0;
}
#creative-partners-list li {
  padding: 0 0 10px 0;
}

.partners-list {
  color: #343B55;
}

.partners-list:hover {
  color: #F78731;
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  #order-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #GDPR-label {
    margin: 0 10px 0 8px;
  }

  #order-subject,
#order-message {
    width: 500px;
  }

  #order-submit {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .contact-form-input {
    width: 300px;
  }

  #GDPR-label {
    width: 250px;
  }

  #order-subject,
#order-message {
    width: 660px;
  }
}
@media screen and (min-width: 992px) {
  .contact-form-input {
    width: 420px;
  }

  #GDPR-label {
    width: 350px;
    margin: 0 100px 0 8px;
  }

  #order-subject,
#order-message {
    width: 900px;
  }
}
#hero-image-container-about-us {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../assets/images/about-us-baguette.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (-ms-high-contrast: none) {
  .staff-container {
    background-color: white;
    flex-direction: column;
    border-top: 1px white solid;
  }
}

.about-us-text p {
  padding: 0 50px;
  text-align: justify;
}

.main-image-about {
  max-width: 80%;
  margin: 0 10%;
}

.staff-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .staff-content {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 576px) and (-ms-high-contrast: none) {
  .staff-content {
    justify-content: space-around;
  }
}

.staff-images {
  margin: 15px;
  max-width: 300px;
  text-align: center;
}

.staff-images p {
  text-align: justify;
}
@media screen and (-ms-high-contrast: none) {
  .staff-images p {
    padding: 0 25px;
  }
}
@media only screen and (-ms-high-contrast: none) and (min-width: 576px) {
  .staff-images p {
    padding: inherit;
  }
}

.images-about-us {
  border-radius: 50%;
  width: 45%;
  height: 45%;
}
@-moz-document url-prefix() {
  .images-about-us {
    width: 120px;
    height: 120px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .images-about-us {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (min-width: 576px) {
  .images-about-us {
    width: 20vw;
    height: 20vw;
  }
}
@media only screen and (min-width: 768px) {
  .images-about-us {
    width: 15vw;
    height: 15vw;
    transition-duration: 1s;
    max-width: 350px;
    max-height: 350px;
  }
}

@media only screen and (min-width: 576px) {
  .images-about-us:hover {
    transform: scale(1.15);
  }
}

.socials {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.social-logo {
  color: #52658F;
  transform: scale(2.5);
  margin: 0 20px;
}

.social-logo:hover {
  color: #F78731;
}

#map {
  height: 300px;
  width: 95%;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  #map {
    height: 400px;
    width: 40%;
  }
}

.contact-us {
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .contact-us {
    align-items: initial;
    flex-direction: initial;
    justify-content: space-evenly;
  }
}

#streetview {
  border: 0;
  width: 95%;
  height: 300px;
}
@media only screen and (min-width: 992px) {
  #streetview {
    width: 40%;
    height: 400px;
  }
}

#hero-image-container-products {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../assets/images/products-hero.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (-ms-high-contrast: none) {
  .product-cards-container {
    background-color: white;
    border-top: 1px white solid;
  }
}

.product-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
}
@media screen and (-ms-high-contrast: none) {
  .product-category {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 576px) {
  .product-category {
    max-width: 378px;
  }
}
@media only screen and (min-width: 768px) {
  .product-category {
    max-width: 745px;
  }
}
@media only screen and (min-width: 1260px) {
  .product-category {
    max-width: 1120px;
  }
}

.product-card {
  border: 1px solid rgba(82, 101, 143, 0.37);
  border-radius: 6px;
  width: 240px;
  margin: 5px;
}
@media only screen and (min-width: 576px) {
  .product-card {
    height: 550px;
    width: 330px;
    margin: 20px;
  }
}

.product-image {
  width: 100%;
}

.product-description {
  text-align: justify;
  padding: 0 10px;
  margin: 0;
}

.product-price {
  padding: 0 10px;
  font-size: 23px;
  margin-top: 10px;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .product-price {
    width: 70px;
  }
}

.order-btn-products {
  transform: initial;
  margin-top: 0;
  margin-right: 38px;
  float: right;
  width: 120px;
}
@media screen and (-ms-high-contrast: none) {
  .order-btn-products {
    transform: inherit;
  }
}
@media only screen and (min-width: 576px) {
  .order-btn-products {
    margin-top: -61px;
    margin-right: 5px;
  }
}

#privacy-policy h1,
#privacy-policy h5 {
  text-align: center;
}

#privacy-policy {
  padding: 15px;
}
@media only screen and (min-width: 576px) {
  #privacy-policy {
    padding: 50px;
  }
}
@media screen and (-ms-high-contrast: none) {
  #privacy-policy {
    background-color: white;
  }
}

#privacy-policy h2 {
  text-align: left;
}

#testimonialsCarousel {
  width: 100%;
  background-color: white;
  margin: 40px 0;
}
#testimonialsCarousel .owl-carousel {
  width: 90%;
  margin: 0 auto;
}
#testimonialsCarousel .item-container {
  background-color: #F7F5E6;
  border: solid 2px #343B55;
  border-radius: 30px;
  padding: 40px;
  min-height: 400px;
  height: auto;
}
#testimonialsCarousel .item-container:hover {
  background-color: #ebe6bf;
}
#testimonialsCarousel .top {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  padding-bottom: 1.3rem;
}
#testimonialsCarousel .testimonial {
  padding: 0 50px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}
#testimonialsCarousel .testimonial .title {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  color: black;
}
#testimonialsCarousel .testimonial img {
  margin-top: 20px;
}
#testimonialsCarousel .bottom .social-media-icon-yt, #testimonialsCarousel .bottom .social-media-icon-ig, #testimonialsCarousel .bottom .social-media-icon-tw, #testimonialsCarousel .bottom .social-media-icon-fb {
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  border: solid 3px black;
  border-radius: 50%;
  color: white;
}
#testimonialsCarousel .bottom .social-media-icon-yt:hover, #testimonialsCarousel .bottom .social-media-icon-ig:hover, #testimonialsCarousel .bottom .social-media-icon-tw:hover, #testimonialsCarousel .bottom .social-media-icon-fb:hover {
  color: #F7F5E6;
}
#testimonialsCarousel .bottom {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}
#testimonialsCarousel .bottom .profile-username {
  padding: 0 1rem;
  text-align: left;
  font-family: "Yellowtail", cursive;
  font-size: 1.2rem;
  font-weight: 500;
}
#testimonialsCarousel .bottom .social-media-icon-fb {
  background-color: #3b5998;
  font-size: 20px;
  line-height: normal;
  overflow: visible;
}
#testimonialsCarousel .bottom .social-media-icon-fb::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#testimonialsCarousel .bottom .social-media-icon-tw {
  background-color: #55acee;
  font-size: 20px;
  line-height: normal;
  overflow: visible;
}
#testimonialsCarousel .bottom .social-media-icon-tw::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#testimonialsCarousel .bottom .social-media-icon-ig {
  background-color: #BC2A8D;
  font-size: 20px;
  line-height: normal;
  overflow: visible;
}
#testimonialsCarousel .bottom .social-media-icon-ig::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#testimonialsCarousel .bottom .social-media-icon-yt {
  background-color: #FF3333;
  font-size: 20px;
  line-height: normal;
  overflow: visible;
}
#testimonialsCarousel .bottom .social-media-icon-yt::after {
  display: flex;
  justify-content: center;
  font-family: FontAwesome !important;
  content: "";
}
#testimonialsCarousel .bottom .profile-picture img {
  width: 60px;
  height: 60px;
  border: solid 3px black;
  border-radius: 50%;
}

* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

h2 {
  color: #52658F;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: #343B55;
  line-height: 1.4rem;
}

.rule {
  height: 0px;
  width: 25%;
  border: solid 1.7px #52658F;
  background-color: #52658F;
  margin: 10px auto 50px;
}

@media screen and (-ms-high-contrast: none) {
  #rule-container {
    background-color: white;
    border: 2px white solid;
  }
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#main-container {
  justify-content: space-between;
  align-self: center;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}

#icon-headlines {
  display: flex;
  justify-content: space-around;
}
@media only screen and (min-width: 576px) {
  #icon-headlines {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
  }
}
@media screen and (-ms-high-contrast: none) {
  #icon-headlines {
    background-color: white;
  }
}
#icon-headlines .icon-headline-item {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 14%;
  width: max-content;
  height: 100px;
  color: #52658F;
  text-align: center;
  transform: scale(0.8);
}
@media only screen and (min-width: 576px) {
  #icon-headlines .icon-headline-item {
    transform: scale(1);
    padding: 80px 40px;
  }
}
#icon-headlines .icon-headline-item .icon-headline-text {
  display: block;
}
@media (min-width: 0px) {
  #icon-headlines .icon-headline-item .icon-headline-text {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 5px 0 0;
  }
}
@media (min-width: 767px) {
  #icon-headlines .icon-headline-item .icon-headline-text {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0 0;
  }
}
@media (min-width: 992px) {
  #icon-headlines .icon-headline-item .icon-headline-text {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 0 0;
  }
}
@media (min-width: 1260px) {
  #icon-headlines .icon-headline-item .icon-headline-text {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 0 0;
  }
}
#icon-headlines .icon-headline-item .icon {
  font-size: 50px;
}

#article {
  width: 100%;
  max-width: 1200px;
}
@media screen and (-ms-high-contrast: none) {
  #article {
    background-color: white;
  }
}
#article h2 {
  margin: 0 10%;
}
#article p {
  margin: 20px;
}
@media only screen and (min-width: 576px) {
  #article p {
    margin: 35px 80px;
  }
}
#article .circle-splash {
  position: relative;
  width: 300px;
  height: 220px;
}
@media (min-width: 0px) {
  #article .circle-splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.6);
  }
}
@media only screen and (min-width: 576px) {
  #article .circle-splash {
    transform: scale(1);
    padding: 65px 65px 25px;
    height: 300px;
  }
}
@media (min-width: 767px) {
  #article .circle-splash {
    float: left;
    margin-right: 50px;
  }
}
#article .circle-splash .circle-splash-1 {
  position: absolute;
  left: calc(50% - (170px / 2));
  top: calc(50% - (170px / 2));
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid 4px white;
  background-color: #F7F5E6;
  z-index: 1;
  transform-origin: center center;
  transform: translate(75px, -80px);
}
#article .circle-splash .circle-splash-2 {
  position: absolute;
  left: calc(50% - (200px / 2));
  top: calc(50% - (200px / 2));
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 4px white;
  background-color: #52658F;
  z-index: 2;
  transform-origin: center center;
  transform: translate(80px, 50px);
}
#article .circle-splash .circle-splash-3 {
  position: absolute;
  left: calc(50% - (280px / 2));
  top: calc(50% - (280px / 2));
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: solid 4px white;
  z-index: 3;
  transform-origin: center center;
  transform: translate(-30px, -25px);
  background-image: url(../assets/images/cupcakes-640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#products-carousel {
  width: 100%;
  background-color: #F7F5E6;
}
#products-carousel .title {
  text-align: center;
  margin: 20px auto 0;
  color: #52658F;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
#products-carousel .title:hover {
  color: #3f4e6f;
}
#products-carousel .product-carousel {
  width: 80%;
  margin: 0 auto;
}
#products-carousel .product-5, #products-carousel .product-4, #products-carousel .product-3, #products-carousel .product-2, #products-carousel .product-1 {
  height: 250px;
  width: 250px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 6px #52658F;
  border-radius: 50%;
  transform: scale(0.7);
}
#products-carousel .product-5:hover, #products-carousel .product-4:hover, #products-carousel .product-3:hover, #products-carousel .product-2:hover, #products-carousel .product-1:hover {
  border: solid 6px #3f4e6f;
}
@media only screen and (min-width: 576px) {
  #products-carousel .product-5, #products-carousel .product-4, #products-carousel .product-3, #products-carousel .product-2, #products-carousel .product-1 {
    transform: scale(1);
  }
}
#products-carousel .product-1 {
  background-image: url("../assets/images/products/breads.jpg");
}
#products-carousel .product-2 {
  background-image: url("../assets/images/products/pastires.jpg");
}
#products-carousel .product-3 {
  background-image: url("../assets/images/products/cakes.jpg");
}
#products-carousel .product-4 {
  background-image: url("../assets/images/products//speciality-cake.jpg");
}
#products-carousel .product-5 {
  background-image: url("../assets/images/products/wedding-cake.jpg");
}
#products-carousel .owl-nav .owl-next, #products-carousel .owl-nav .owl-prev {
  display: flex;
  position: absolute;
  opacity: 1;
  max-height: 50px;
  max-width: 50px;
  height: 50px;
  width: 50px;
  background-color: #52658F;
  border-radius: 50%;
  font-size: 45px;
  color: #F7F5E6;
}
#products-carousel .owl-nav .owl-next:hover, #products-carousel .owl-nav .owl-prev:hover {
  background-color: #3f4e6f;
}
#products-carousel .owl-nav .owl-prev {
  left: 10%;
  top: 243px;
}
@media only screen and (min-width: 576px) {
  #products-carousel .owl-nav .owl-prev {
    left: -60px;
    top: 125px;
  }
}
#products-carousel .owl-nav .owl-prev span {
  position: absolute;
  left: 17px;
  top: -3px;
}
#products-carousel .owl-nav .owl-next {
  right: 10%;
  top: 243px;
}
@media only screen and (min-width: 576px) {
  #products-carousel .owl-nav .owl-next {
    right: -60px;
    top: 125px;
  }
}
#products-carousel .owl-nav .owl-next span {
  position: absolute;
  right: 17px;
  top: -3px;
}
#products-carousel .owl-nav .owl-item {
  transform: scale(0.7);
}
#products-carousel .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#products-carousel .button {
  color: #F7F5E6;
  width: 10rem;
  height: 20px;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background-color: #52658F;
  border-radius: 25px;
}
#products-carousel .button:hover {
  background-color: #3f4e6f;
}
@media only screen and (min-width: 576px) {
  #products-carousel .button {
    font-size: 1.3rem;
    width: 20rem;
    height: 25px;
  }
}
#products-carousel h2 {
  margin-bottom: -35px;
}
@media only screen and (min-width: 576px) {
  #products-carousel h2 {
    margin-bottom: inherit;
  }
}

#reviewsCarousel {
  width: 100%;
  color: #343B55;
  padding: 50px 0;
}
@media screen and (-ms-high-contrast: none) {
  #reviewsCarousel {
    background-color: white;
  }
}
#reviewsCarousel .review-carousel {
  width: 80%;
  margin: 0 auto;
}
#reviewsCarousel .owl-item {
  position: relative;
}
#reviewsCarousel .review {
  width: 90%;
  text-align: center;
  margin: 30px auto;
}
#reviewsCarousel .review::before {
  position: absolute;
  left: 0;
  top: 15px;
  color: black;
  font-family: FontAwesome !important;
  font-size: 25px;
  content: "";
}
#reviewsCarousel .review::after {
  position: absolute;
  right: 0;
  top: 15px;
  color: black;
  font-family: FontAwesome !important;
  font-size: 25px;
  content: "";
}
#reviewsCarousel .author {
  display: block;
  text-align: right;
  margin: 20px 45px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}
#reviewsCarousel .owl-dot {
  margin: 1px;
}
@media only screen and (min-width: 576px) {
  #reviewsCarousel .owl-dot {
    margin: 30px 18px;
  }
}
#reviewsCarousel .button-container {
  justify-content: center;
  width: 100%;
  display: flex;
}
#reviewsCarousel .button {
  align-items: center;
  color: white;
  width: 10rem;
  height: 20px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background-color: #F78731;
  border-radius: 25px;
}
#reviewsCarousel .button:hover {
  background-color: #ec6c09;
}
@media only screen and (min-width: 576px) {
  #reviewsCarousel .button {
    font-size: 1.3rem;
    width: 20rem;
    height: 25px;
  }
}
#reviewsCarousel h2 {
  padding: 0 50px;
}

/*# sourceMappingURL=style.css.map */
