@use "scss/partials/hero-image";
@use "scss/partials/header";
@use "scss/partials/footer";
@use "scss/partials/order-page";
@use "scss/partials/about-us";
@import "./scss/partials/mixin";
@import "./scss/abstracts/variables";

* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}

body{
    display:flex;
    flex-direction: column;
}

h2{
    color:$brand-color-dark;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

// Horizontal rule <hr>.
.rule{
    height: 0px;
    width: 25%;
    border: solid 2px $brand-color-dark;
    margin: 30px auto;
}

#main-container{
    justify-content: space-between;
    align-self: center;
    flex: 1;
    width:100%;
    max-width: 1200px;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    border:solid 3px red; // temp just for seeing the div
}

#icon-headlines{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
    .icon-headline-item{
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex: 0 0 14%;
        width: max-content;
        height: 100px;
        padding: 40px;
        color: $brand-color-dark;
        text-align: center;
        .icon-headline-text{
            display: block;
            @include MQ('0','and-wider'){
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 0 0;
            }
            @include MQ('1','and-wider'){
                font-size: 0.9rem;
                font-weight: 600;
                padding: 10px 0 0;
            }
            @include MQ('2','and-wider'){
                font-size: 1.1rem;
                font-weight: 600;
                padding: 15px 0 0;
            }
            @include MQ('3','and-wider'){
                font-size: 1.3rem;
                font-weight: 600;
                padding: 20px 0 0;
            }
        }
        .icon{
            font-size: 50px;
        }
    }
}

#article{
    // display: flex;
    justify-content: center;
    width: 100%;
    // max-width: 1200px;
    // padding: 5%;
    border: solid 3px aqua;
    .circle-splash{
        position: relative;
        float: left;
        padding: 50px;
        width: 300px;
        height: 400px;
        // z-index: -4;
        border: solid 3px blue;
        .circle-splash-1{ // cream circle bottom stacked
            @include build-circle($dia: 170px, $backC: $brand-color-light, $borderW: 4px, $borderC: white){
                z-index: 1;
                transform-origin: center center;
                transform: translate(75px,-80px);
            }
        }
        .circle-splash-2{ // blue circle 2nd stacked
            @include build-circle($dia: 200px, $backC: $brand-color-dark, $borderW: 4px, $borderC: white){
                z-index: 2;
                transform-origin: center center;
                transform: translate(80px,50px);
            }
        }
        .circle-splash-3{ // image circle
            @include build-circle($dia: 280px, $borderW: 4px, $borderC: white){
                z-index: 3;
                transform-origin: center center;
                transform: translate(-30px,-25px);
                background-image: url(../assets/images/cupcakes-640.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
