@use "scss/partials/hero-image";
@use "scss/partials/header";
@use "scss/partials/footer";
@use "scss/partials/order-page";
@use "scss/partials/about-us";
@import "./scss/partials/mixin";
@import "./scss/abstracts/variables";

* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}

body{
    display:flex;
    flex-direction: column;
    background-color: black;
}

h2{
    color:$brand-color-dark;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

p{
    color: $text-colour-dark;
    line-height: 1.4rem;
}

// Horizontal rule <hr>.
.rule{
    height: 0px;
    width: 25%;
    border: solid 1.7px $brand-color-dark;
    background-color: $brand-color-dark;
    margin: 10px auto 50px;
}

.clearfix{
    overflow: auto;
    &::after{
        content: "";
        clear: both;
        display: table;
    }
  }

#main-container{
    justify-content: space-between;
    align-self: center;
    flex: 1;
    width:100%;
    max-width: 1200px;
    height: 100%;
    min-height: 100vh;
    background-color: white;
}

#icon-headlines{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
    .icon-headline-item{
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex: 0 0 14%;
        width: max-content;
        height: 100px;
        padding: 80px 40px;
        color: $brand-color-dark;
        text-align: center;
        .icon-headline-text{
            display: block;
            @include MQ('0','and-wider'){
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 0 0;
            }
            @include MQ('1','and-wider'){
                font-size: 0.9rem;
                font-weight: 600;
                padding: 10px 0 0;
            }
            @include MQ('2','and-wider'){
                font-size: 1.1rem;
                font-weight: 600;
                padding: 15px 0 0;
            }
            @include MQ('3','and-wider'){
                font-size: 1.3rem;
                font-weight: 600;
                padding: 20px 0 0;
            }
        }
        .icon{
            font-size: 50px;
        }
    }
}

#article{
    width: 100%;
    max-width: 1200px;
    h2{
        margin: 0 10%;
    }
    p{
        margin: 35px 80px;
    }
    .circle-splash{
        position: relative;
        @include MQ('0','and-wider'){
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        @include MQ('1','and-wider'){
            float: left;
            margin-right: 50px;
        }
        padding: 65px 65px 25px;
        width: 300px;
        height: 300px;
        .circle-splash-1{ // cream circle bottom stacked
            @include build-circle($dia: 170px, $backC: $brand-color-light, $borderW: 4px, $borderC: white){
                z-index: 1;
                transform-origin: center center;
                transform: translate(75px,-80px);
            }
        }
        .circle-splash-2{ // blue circle 2nd stacked
            @include build-circle($dia: 200px, $backC: $brand-color-dark, $borderW: 4px, $borderC: white){
                z-index: 2;
                transform-origin: center center;
                transform: translate(80px,50px);
            }
        }
        .circle-splash-3{ // image circle
            @include build-circle($dia: 280px, $borderW: 4px, $borderC: white){
                z-index: 3;
                transform-origin: center center;
                transform: translate(-30px,-25px);
                background-image: url(../assets/images/cupcakes-640.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#products-carousel{
    width: 100%;
    background-color: $brand-color-light;
    .title{
        text-align: center;
        margin: 20px auto 0;
        color:$brand-color-dark;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .owl-carousel{
        width: 80%;
        margin: 0 auto;   
    }
    %product{
        height:250px;
        width: 250px;
        margin: 20px auto;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 6px $brand-color-dark;
        border-radius: 50%;
    }
    .product-1{
        @extend %product;
        background-image: url("../assets/images/products/breads.jpg");
    }
    .product-2{
        @extend %product;
        background-image: url("../assets/images/products/pastires.jpg");
    }
    .product-3{
        @extend %product;
        background-image: url("../assets/images/products/cakes.jpg");
    }
    .product-4{
        @extend %product;
        background-image: url("../assets/images/products//speciality-cake.jpg");
    }
    .product-5{
        @extend %product;
        background-image: url("../assets/images/products/wedding-cake.jpg");
    }
    .owl-nav{
        %nav{
            display: flex;
            position: absolute;
            opacity: 1;
            max-height: 50px;
            max-width: 50px;
            height: 50px;
            width: 50px;
            background-color: $brand-color-dark;
            border-radius: 50%;
            font-size: 45px;
            color: $brand-color-light;
            &:hover{
                background-color: darken($brand-color-dark, 10);
            }
        }
        .owl-prev{
            @extend %nav;
            left: -60px;
            top: 125px;
        }
        .owl-prev span{
            position: absolute;
            left: 17px;
            top: -3px;
        }   
        .owl-next{
            @extend %nav;
            right: -60px;
            top: 125px;
        }
        .owl-next span{
            position: absolute;
            right: 17px;
            top: -3px;
        }
    }
    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button{
        color: $brand-color-light;
        width: 20rem;
        height:25px;
        margin: 20px 0;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: $brand-color-dark;
        border-radius: 25px;
    }
}