@use '../abstracts/index' as *;

//Tailoring hero image to this page
#hero-image-container-about-us {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('../assets/images/about-us-baguette.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.staff-container {
  @media screen and (-ms-high-contrast: none) {
    background-color: white;
    flex-direction: column;
    border-top: 1px white solid;
}
}

//Styling the main story text
.about-us-text p {
  //font-weight: 100;
  padding: 0 50px;
  text-align: justify;
}

//The main image. I made it 80% wide in order to look good on all screen size and at the same time stay centred
.main-image-about {
  max-width: 80%;
  margin: 0 10%;
}

//The positioning of the staff members content - image, name, position and info
.staff-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: $break-s) {
    flex-direction: row;
    justify-content: space-evenly;
  @media screen and (-ms-high-contrast: none) {
    justify-content: space-around;
}
}
}

//Staff images container
.staff-images {
  margin: 15px;
  max-width: 300px;
  text-align: center;
}

//Making the text of the staff cards extends
.staff-images p {
  text-align: justify;
//Added extra code for IE as the text got to the edges on IE
  @media screen and (-ms-high-contrast: none) {
    padding: 0 25px;
    @media only screen and (min-width: $break-s) {
      padding: inherit;
}
}
}

//Make the images round and sizing them correctly for different screens
.images-about-us {
  border-radius: 50%;
  width: 45%;
  height: 45%;
//Added this Firefox and IE specific lines in order to keep the images round as they do not like %
  @-moz-document url-prefix() { 
    width: 120px;
    height: 120px;
}
  @media screen and (-ms-high-contrast: none) {
    width: 120px;
    height: 120px;
}
  @media only screen and (min-width: $break-s) {
    width: 20vw;
    height: 20vw;
}
  @media only screen and (min-width: $break-m) {
    width: 15vw;
    height: 15vw;
    transition-duration: 1s;
    max-width: 350px;
    max-height: 350px;
}
}

//Hover effect to make them a bit bigger on hover
.images-about-us:hover {
  @media only screen and (min-width: $break-s) {
  transform: scale(1.15);
  }
}

//Social media logos container
.socials {
  display: flex;
  justify-content: center;
  padding: 25px;
}

//Social media logos - made them bigger and added the brand colour
.social-logo {
  color: $brand-color-dark;
  transform: scale(2.5);
  margin: 0 20px;
}

//Changed the colour on hover
.social-logo:hover {
  color: $orange-header;
}

//Styling the Google map API
#map {
  height: 300px;
  width: 95%;
  margin-bottom: 15px;
  @media only screen and (min-width: $break-l) {
    height: 400px;
    width: 40%;
}
}

//Google maps and streetview container - added some positioning for small and big screens
.contact-us {
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: $break-l) {
    align-items: initial;
    flex-direction: initial;
    justify-content: space-evenly;
}
}


//Styling of the streetview element 
#streetview {
  border: 0;
  width: 95%;
  height: 300px;
  @media only screen and (min-width: $break-l) {
    width: 40%;
    height: 400px;
}
}




// @media screen and (-ms-high-contrast: none) {
//   top: 0.5rem;
// }


// @-moz-document url-prefix() { 
//   .phone-icon {
//     top: 0.5rem !important;
// }
