@use '../abstracts/index' as *;

footer {
  background-color: $brand-color-dark;
  color: $brand-color-light;

}

#footer-container {
  border: 2px red solid;
  display: flex;
  flex-direction: column;


  @media only screen and (min-width: $break-m) {
    flex-direction: row;
    justify-content: space-evenly;

  }
}


footer h4 {
  text-transform: uppercase;
  margin-left: 20px;
}

footer li {
  list-style-type: none;
  margin-left: -20px;
  font-weight: 100;
  line-height: 20px !important;
  
}

#footer-3 li:hover,
.li-footer-hover:hover {
  text-decoration: underline;
  color: $orange-header;

}


#copyright {
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.arrow {
  border: solid $brand-color-light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
