@use '../abstracts/index' as *;

//Code for the logo
#logo {
  color: $brand-color-light;
  font-family: $main-title;
  font-weight: 500;
  font-size: 28px;
  width: 5rem;
  margin-left: -55px;
  @media only screen and (min-width: $break-m) {
    font-size: 3rem;
    width: 30rem;
    margin-left: -11rem;
    margin-top: 18px;
}
  @media only screen and (min-width: $break-l) {
    font-size: 4rem;
    margin-top: 1rem;
    margin-left: -8rem;
}
}

//Font for the logo
#logo a {
  font-family: "Yellowtail", cursive;
}
 

//Header container
#header-content {
  border: 2px $brand-color-dark solid;
  background-color: $brand-color-dark;
  height: 100px;
  padding-left: 5rem;
  @media only screen and (min-width: $break-m) {
  text-align: center;
}
}

//Styling the header
#ul-header {
  display: none;
  list-style-type: none;
  text-transform: uppercase;
  color: $brand-color-light;
  font-weight: 600;
  background-color: $brand-color-dark;
  width: 171px;
  padding-left: 12px;
  height: 207px;
  position: relative;
  top: -134px;
  left: -66px;
  align-items: flex-start;
  background-color: initial;
  margin-top: 58px; 
  @media only screen and (min-width: $break-m) {
    display: inline-flex;
}
  @media only screen and (min-width: $break-l) {
    top: -162px;
    margin-top: 3.5rem;
}
  @media only screen and (min-width: $break-xl) {
    top: -174px;
    margin-top: 3.5rem;
}
}

//I added an extra html for the header for small screens because the main one kept misplacing other elements. This one works only on small screens and change to display:none for bigger
#header-small {
  width: 100%;
  text-transform: uppercase;
  color: $brand-color-light;
  font-weight: 600;
  background-color: rgba($brand-color-dark, 0.8);
  position: absolute;
  display: none;
  z-index: 2;
  @media screen and (min-width: $break-s) {
    z-index: 0;
}
  @media only screen and (min-width: $break-m) {
    display: none;
}
}

//Some styling that could not go in the #header-small
#header-small ul {
  list-style-type: none;
  text-align: end;
  padding-right: 10px;
}

//Styling for the li elements on big screens
.li-header {
  @media only screen and (min-width: $break-m) {
  margin: 10px;
  padding-bottom: 3px;
}
  @media only screen and (min-width: $break-l) {
    margin: 1rem;
}
  @media only screen and (min-width: $break-xl) {
    margin: 2rem;
}
}

.li-header:hover {
  border-bottom: 4px $orange-header solid;
}

//Separating the li elements on small screen (the drop down)
.li-header-small {
  line-height: 45px;
}

//Styling for the phone icon
.fa-phone {
  border-radius: 50%;
  padding: 0.5em 0.6em;
  color: $brand-color-light;
  background-color: #333a56;
  float: right;
  margin-top: -83px;
  margin-right: 95px;
  @media only screen and (min-width: $break-m) {
    position:relative;
    top: -24rem;
    left: 19rem;
    color: $orange-header;
    margin-right: 0;
    margin-top: 0;
    float: inherit;
}
  @media only screen and (min-width: $break-l) {
    top: -410px;
    left: 24rem;
}
  @media only screen and (min-width: $break-xl) {
    left: 32rem;
}
}

//Added some hover effect for the phone-icon
.fa-phone:hover {
  background-color: darken($color: $brand-color-dark, $amount: 10%)
}

//Changing the default a tag settings
a {
  color: inherit;
  text-decoration: none;
}

//Hamburger styling
.btn-menu-xs {
  background-color: #333a56;
  height: 55px;
  width: 65px;
  border-radius: 4px;
  float: right;
  margin-top: -77px;
  margin-right: 10px;
  @media only screen and (min-width: $break-m) {
    display: none;
}
}

.btn-menu-xs:hover {
	background-color: darken($color: $brand-color-dark, $amount: 10%)
}

// The next few properties are for the hamburger
.menu-lines {
  padding: 10px 0 4px 16px;
  @media only screen and (min-width: $break-m) {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 33px;
  margin: 10px auto 5px;
}
}

.menu-x {
  display: none;
  color: $brand-color-light;
  font-size: 33px;
  margin-top: 1px;
  margin-left: 24px;
}

.menu-line {
  width: 33px;
  height: 3px;
  background-color:$brand-color-light;
  margin-bottom: 5px;
}

.menu-title {
  font-size: 12px;
  text-align: center;
  margin-top: -7px;
  color: $brand-color-light;
}
