@use '../abstracts/index' as *;

#logo {
  display: none;
  color: $brand-color-light;
  font-family: $main-title;
  font-weight: 500;
  //padding-left: 10rem;
  @media only screen and (min-width: $break-m) {
    display: block;
    width: 10rem;

  }
  @media only screen and (min-width: $break-l) {
    width: 30rem;
    font-size: 4rem;
    margin-top: 1rem;
  }
}

#logo-xs {
  color: $brand-color-light;
  font-family: $main-title;
  font-weight: 500;

  @media only screen and (min-width: $break-m) {
    display: none;
  
  }
}

#header-content {
  border: 1px red solid;
  background-color: $brand-color-dark;
  height: 100px;
  padding-left: 5rem;
  
}


#ul-header {
  position: relative;
  top: -8.5rem;
  left: 23rem;
  list-style-type: none;
  text-transform: uppercase;
  color: $brand-color-light;
  font-weight: 600;
  display: inline-flex;
}

#li-header {
  margin: 2rem;
}

#li-header:hover {
  border-bottom: 4px $orange-header solid;
}

.fa-phone {
  border-radius: 50%;
  padding: 0.5em 0.6em;
  color: $orange-header;
  background-color: #333A56;
  margin: -1.5rem;

}

a {
  color: inherit;
  text-decoration: none;
}

