@use '../abstracts/index' as *;

// the container
#hero-image--container {
    height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('../assets/images/bakery_hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// This is the area in wich the title, text and call to action are contained
#hero-image-text-area {
    background-color: $brand-color-light;
    padding: 60px 5px 0;
    width: 100%;
    height: 100%;
}

// the title styling
#hero-title {
    font-family: $main-title;
    font-size: 45px;
    margin: 0 0 20px;
    color: $text-colour-dark;
    font-weight: 500;    
}

// the main body of text
#hero-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: $text-colour-dark;
    width: 250px;
}

// Button styling
#call-to-action {
    background-color: $orange-header;
    border-radius: 25px;
    width: 130px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    color: $brand-color-light;
    cursor: pointer;
}

#hero-title,
#hero-text,
#call-to-action {
    transform: translate(0px, 40px);
}


@media screen and (min-width: $break-s) {

    #hero-image-text-area {
        border-radius: 0 50% 50% 0;
        width: 600px;
        height: 600px;
        border-right: 4px $text-colour-dark solid;
        transform: translate(-150px, -150px);
    }

    #hero-title,
    #hero-text,
    #call-to-action {
        transform: translate(190px, 180px);
    }
}

@media screen and (min-width: $break-m) {

    #hero-image-text-area {
        transform: translate(-0px, -150px);
    }

    #hero-title {
        font-size: 64px;
    }

    #hero-text {
        width: 390px;
        font-size: 18px; 
    }

    #call-to-action {
        font-size: 20px;
    }
    
    #hero-title,
    #hero-text,
    #call-to-action {
        transform: translate(100px, 180px);
    }
}

@media screen and (min-width: $break-l) {

    #hero-image-text-area {
        width: 800px;
        height: 800px;
        transform: translate(-20px, -210px);
    }

    #hero-title,
    #hero-text,
    #call-to-action {
        transform: translate(150px, 240px);
    }
}