@use '../abstracts/index' as *;

#hero-image--container {
    height: 400px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    background-image: url('../assets/images/bakery_hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image-text-area {
    background-color: $brand-color-light;
    padding: 15px 5px;
    height: 500px;
    width: 100%;
    // z-index: 2;

    @media screen and (min-width: $break-s) {
        border-radius: 0 25% 25% 0;
        width: 65%;
    }
}

#hero-title {
    font-family: $main-title;
    font-size: 45px;
    margin: 0 0 20px;
    color: $text-colour-dark;
    font-weight: 500;
    
    @media screen and (min-width: $break-m) {
        font-size: 64px;
    }
    
}

#hero-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: $text-colour-dark;
    letter-spacing: 0.05rem;
    width: 250px;

    @media screen and (min-width: $break-m) {
        width: 390px;
        font-size: 18px;
    }
}

#call-to-action {
    background-color: $orange-header;
    border-radius: 25px;
    width: 130px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 15px;
    color: $brand-color-light;
    cursor: pointer;
    letter-spacing: 0.05rem;

    @media screen and (min-width: $break-m) {
        font-size: 20px;
    }
}

// #hero-image {
//     display: inline;
// }