@use '../abstracts/index' as *;

// rules for the hero-image on this page copied from the main
#hero-image--container-order {
    height: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("../assets/images/order-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#form-container {
    background-color: $brand-color-dark;
    padding-top: 50px;
}

// The form styles
#order-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-bottom: 75px;
}

// Inputs styling
.contact-form-input {
    border: none;
    border-radius: 3px;
    background-color: $brand-color-light;
    width: 220px;
    height: 40px;
    outline: none;
    color: $text-colour-dark;
    margin: 0px 10px 15px 8px;
    padding: 5px 20px;
    font-weight: 500;
}

.contact-form-input:focus::placeholder {
    color: transparent;
}

// Label styling
.order-label {
    display: block;
    color: $orange-header;
    margin: 0px 0 5px 8px;
    text-align: left;
}

.required-mark {
    color: white;
    margin-left: 3px;
}

//order submission button.
#order-submit {
    width: 220px;
    background-color: $orange-header;
    border-radius: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    color: $brand-color-light;
    cursor: pointer;
    margin: 10px 0 0 0;
}

#order-submit:hover {
    background-color: darken($orange-header, 10);
}

// Validation on the form
.Form-focused {
    border: $orange-header solid 3px;
}

.Form-valid {
    border: green solid 3px;
}

.Form-invalid {
    border: red solid 3px;
}

#order-message {
    resize: none;
    width: 220px;
    height: 250px;
    background-color: $brand-color-light;
    margin-left: 8px;
    outline: none;
}

// the GDPR checkbox area
#GDPR-check {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

#GDPR-label {
    width: 200px;
    float: right
}

//The error bar to show when validation fails

.error-bar {
    display: none;
    background-color: red;
    border-radius: 25px;
    padding: 0 20px;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

#error-text {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.error-show {
    display: block;
}

// creative partners section

#creative-partners {
    align-items: center;
    text-align: center;

    p {
        padding: 0 10px;
    }

    @media screen and (-ms-high-contrast: none) {
        border: 5px white solid;
        background-color: white;
}  
}

#creative-partners-list {
    list-style-type: none;
    padding-inline-start: 0;

    li {
       padding: 0 0 10px 0; 
    }
}

.partners-list {
    color: $text-colour-dark;
}

.partners-list:hover {
    color: $orange-header;
    text-decoration: underline;
}

@media screen and (min-width: $break-s) {
    #order-form {
       flex-direction: row; 
       flex-wrap: wrap;
    }
    
    #GDPR-label {
        margin: 0 10px 0 8px;
    }

    #order-subject,
    #order-message {
        width: 500px;
    }

    #order-submit {
        width: 400px;
    }
}

@media screen and (min-width: $break-m) {
    .contact-form-input {
        width: 300px;
    }

    #GDPR-label {
        width: 250px;
    }

    #order-subject,
    #order-message {
        width: 660px;
    }
}

@media screen and (min-width: $break-l) {
    .contact-form-input {
        width: 420px;
    }

    #GDPR-label {
        width: 350px;
        margin: 0 100px 0 8px;
    }

    #order-subject,
    #order-message {
        width: 900px;
    }
}