@use '../abstracts/index' as *;

#form-container {
    background-color: $brand-color-dark;
    padding-top: 50px;
}

// The form styles
#order-form {

    align-items: center;
    justify-content: center;

    input {
        background-color: $brand-color-light;
        width: 260px;
        height: 40px;
        outline: none;
        color: $text-colour-dark;
        margin: 20px 10px 15px 8px;
    }

}

.contact-form-input {
    border: none;
    border-radius: 3px;
}

.Form-focused {
    border: $orange-header solid 3px;
}

.Form-valid {
    border: green solid 3px;
}

.Form-invalid {
    border: red solid 3px;
}

#order-message {
    resize: none;
    width: 260px;
    height: 250px;
    background-color: $brand-color-light;
    margin-left: 8px;
    outline: none;
}