@use '../abstracts/index' as *;

#privacy-policy h1,
#privacy-policy h5 {
  text-align: center;
}

#privacy-policy {
  padding: 15px;
  @media only screen and (min-width: $break-s) {
    padding: 50px;
}
  @media screen and (-ms-high-contrast: none) {
    background-color: white;
}
}

#privacy-policy h2 {
  text-align: left;
}

