@use '../abstracts/index' as *;

#hero-image-container-products {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('../assets/images/products-hero.jpg');
  background-repeat: no-repeat;
  background-position: right;

}

.product-cards-container {
  border: springgreen solid 2px;
}

.title-category {
  position: absolute;
}

.product-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.product-card {
  border: 2px red solid;
  width: 500px;
  height: 500px;
  margin: 20px;

}

.product-image {
  width: 100%;
  height: 66%;
}

.product-description {
  text-align: justify;
  padding:0 10px;
  margin: 0;
}

.product-price {
  padding: 0 10px;
  font-size: 23px;
  border: lawngreen 2px solid;
  width: 70px;
  margin-top: 10px;
}

.order-btn-products {
  transform: initial;
  margin-top: -66px; 
  float: right;
 // position: relative;
  // top: -58px;
  // right: 10px;
}