@use '../abstracts/index' as *;

//Hero image for the products page
#hero-image-container-products {
  height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('../assets/images/products-hero.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.product-cards-container {
  @media screen and (-ms-high-contrast: none) {
    background-color: white;
}
}

//This is the container for each category of cards. I have added max-width on some breakpoints to make it look more professional and change the number of cards per line only on a breakpoint 
.product-category {
  //border: 2px green solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
  @media screen and (-ms-high-contrast: none) {
    justify-content: space-around;
}
  @media only screen and (min-width: $break-s) {
    max-width: 378px;
}
  @media only screen and (min-width: $break-m) {
    max-width: 745px;
}
  @media only screen and (min-width: $break-xl) {
    max-width: 1120px;
}
}

//This is the container for the cards. I made them a bit thiner on small screens
.product-card {
  border: 1px solid rgba(82,101,143,0.37);
  border-radius: 6px;
  width: 240px;
  margin: 5px;
  @media only screen and (min-width: $break-s) {
    height: 550px;
    width: 330px;
    margin: 20px;
}
}

//I made the width of the image 100% so it covers the whole of the card
.product-image {
  width: 100%;
}

//Styling for the text of the card
.product-description {
  text-align: justify;
  padding:0 10px;
  margin: 0;
}

//Styling the price. Added extra width for bigger screens
.product-price {
  padding: 0 10px;
  font-size: 23px;
  //border: lawngreen 2px solid;
  margin-top: 10px;
  text-align: center;
  @media only screen and (min-width: $break-s) {
    width: 70px;
}
}

//These button has been styled already in _hero-image.scss as .call-to-action. I just added some extra code to make it appear at the right place
.order-btn-products {
  transform: initial;
  margin-top: 0; 
  margin-right: 38px;
  float: right;
  width: 120px;
  @media screen and (-ms-high-contrast: none) {
    transform: inherit;
}
  @media only screen and (min-width: $break-s) {
    margin-top: -61px; 
    margin-right: 5px;
}
}