
#hero-image--container{
    background-image: url('../assets/images/testimonials/socialMedia.jpg');
}

#testimonialsCarousel{
    width: 100%;
    background-color: white;
    .owl-carousel{
        width: 90%;
        margin: 40px auto 0;   
    }
    .item-container{
        @include targetIEonly(){
            display: -ms-flexbox;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $brand-color-light;
        border: solid 2px $text-colour-dark;
        border-radius: 30px;
        padding: 40px;
        @supports not (-ms-high-contrast: none) {
            min-height: 500px;
         }
        height:100%;
        &:hover{
            background-color: darken($brand-color-light,10);
        }
    }

    .box-fix {
     max-height: 600px;   
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .box-fix {
            .bottom{
                transform: translate(0px, -570px);

                @media screen and (min-width: $break-xs) {
                    transform: translate(0px, -500px);
                }
            }
        }
   }

    .top{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
        padding-bottom: 1.3rem;
    }
    
    .testimonial{
        padding: 0 50px;
        @media screen and (max-width: 450px){
            padding: 0 5px;
        }
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        .title{
            text-transform: uppercase;
            font-style:normal;
            font-size: 1.3rem;
            font-weight: 400;
            color: black;
        }
        img{
            margin-top: 20px;
        }
    }
    
    .bottom{
        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
        .profile-username{
            padding: 0 2.2rem 0 1rem;
            text-align: left;
            font-family: "Yellowtail", cursive;
            font-size: 1.2rem;
            font-weight: 500;
        }
        @media screen and(min-width: 350px){
            %social-media-icon{
                display: flex;
                position: absolute;
                bottom: 12px;
                right:0;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                min-height: 30px;
                min-width: 30px;
                border: solid 3px black;
                border-radius: 50%;
                color: white;
                &:hover{
                    color: $brand-color-light;
                }
            }
            .social-media-icon-fb{ //  facebook
                @extend %social-media-icon;
                background-color: $facebook-color;
                @include place-awesome-icon($glyph: 'facebook', $size: 20px, $orientation: 'after');
            }
            .social-media-icon-tw{ //  twitter
                @extend %social-media-icon;
                background-color: $twitter-color;   
                @include place-awesome-icon($glyph: 'twitter', $size: 20px, $orientation: 'after');
            }
            .social-media-icon-ig{ //  instagram
                @extend %social-media-icon;
                background-color: $instagram-color;   
                @include place-awesome-icon($glyph: 'instagram', $size: 20px, $orientation: 'after');
            }

            .social-media-icon-yt{ //  youtube
                @extend %social-media-icon;
                background-color: $youtube-color;   
                @include place-awesome-icon($glyph: 'youtube', $size: 20px, $orientation: 'after');
            }
        }
        .profile-picture img{
            width: 60px;
            height:60px;
            border: solid 3px black;
            border-radius: 50%;
        }
    }
}

.achievements{
    background-color: #fff;
}

.achievement{
    background-color: #fff;
    padding : 0 7%;
    .title{
        margin: 3rem 7%;
    }
    .logo{
        display: flex;
        // justify-content: center;
    }

    .logo img{
        height: auto;
        width: 100%;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        // padding: 0 10px;
    }
}

.added_spacing {
        padding: 0 20px;
    }