// Font family variables
$main-title:'Yellowtail', cursive;
$text: 'Roboto', sans-serif;

//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;

//Colours
$brand-color-dark: #52658F;
$brand-color-light: #F7F5E6;



